@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<br /><br /><h2>About</h2>
<p>This is a place for people who desire to better themselves within the world of mathematics.</p>
<p>Here is what experience I hope to gain with with this website:</p>
<ol>
    <li>Use of Entity Framework in the ASP.NET Core Environment.</li>
    <li>Use Of JavaScript Libraries such as ReactJS (Preact?) and VueJS.</li>
    <li>More experience with Jquery and Ajax/Ajaj would be a great bonus.</li>
    <li>Overall gain more experience with UI design and anything else that I may find useful in the future.</li>
</ol>
