
@{
    ViewData["Title"] = "Problems";
}
<br /><br /><br /><br />
<h2>Problems</h2>
<p>1) 4x - 41 = 3. Try to find what x is equal to!</p><br />
<p>2) x<sup>2</sup> + x + 1 = 2x. Try to find x. Click <button type="button" class="btn btn-info" style="padding: 0px 6px;">here</button> to see a hint.</p>
<div id="div1"></div>

