@page
@model MathDB.Pages.CalculatorModel
@{
    ViewData["Title"] = "Calculator";
}

<h2>Calculator</h2>

    <input type="text" name="First" id="First"/>
    <select id="Operator" name="Operator">
        <option>Add</option>
        <option>Subtract</option>
        <option>Multiply</option>
        <option>Divide</option>
    </select>
    <input type="text" name="Second" id="Second" />
    <input type="submit" onclick="Calculate()" />

    <div id="total"></div>
    <script src="~/js/calculate.js" asp-append-version="true"></script>